body {
  background: #0f1117;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 600px;
  margin: auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #4cafef;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

h1 {
  text-align: center;
}